[submodule "MetaModelica.jl"]
	path = MetaModelica.jl
	url = ../../OpenModelica/MetaModelica.jl.git
[submodule "Absyn.jl"]
	path = Absyn.jl
	url = ../../OpenModelica/Absyn.jl.git
[submodule "SCode.jl"]
	path = SCode.jl
	url = ../OpenModelica/SCode.jl.git
[submodule "DAE.jl"]
	path = DAE.jl
	url = ../DAE.jl.git
[submodule "OMBackend.jl"]
	path = OMBackend.jl
	url = ../OMBackend.jl.git
[submodule "ListUtil.jl"]
	path = ListUtil.jl
	url = ../ListUtil.jl.git
[submodule "ArrayUtil.jl"]
	path = ArrayUtil.jl
	url = ../ArrayUtil.jl.git
[submodule "ImmutableList.jl"]
	path = ImmutableList.jl
	url = ../../OpenModelica/ImmutableList.jl.git
[submodule "OMFrontend.jl"]
	path = OMFrontend.jl
	url = ../OMFrontend.jl.git
[submodule "OMParser.jl"]
	path = OMParser.jl
	url = ../../OpenModelica/OMParser.jl.git
